registry=https://registry.npmjs.org
@rvoh:registry=https://registry.npmjs.org
//registry.npmjs.org/:always-auth=true

minimumReleaseAge=1440 # (in minutes, ensuring that all packages must be at least 24 hours old)
minimumReleaseAgeExclude[] = @rvoh/dream
minimumReleaseAgeExclude[] = @rvoh/psychic
minimumReleaseAgeExclude[] = @rvoh/dream-spec-helpers
minimumReleaseAgeExclude[] = @rvoh/psychic-spec-helpers
