name: PR Checks
on:
  - pull_request

permissions:
  actions: none
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: read
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  uspec:
    name: Unit tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: psychic
          POSTGRES_DB: psychic_workers_test
          POSTGRES_PASSWORD: "postgres"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis:6.2
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    env:
      NODE_ENV: test
      PORT: 7777
      DB_USER: psychic
      DB_NAME: psychic_workers_test
      DB_HOST: localhost
      DB_PASSWORD: postgres
      DB_PORT: 5432
      TZ: UTC
      GITHUB_OAUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      APP_ENCRYPTION_KEY: ${{ secrets.APP_ENCRYPTION_KEY }}
      LEGACY_APP_ENCRYPTION_KEY: ${{ secrets.LEGACY_APP_ENCRYPTION_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - run: corepack enable

      - run: pnpm install --frozen-lockfile
      - run: pnpm psy db:migrate --skip-sync
      - run: pnpm uspec

  lint:
    name: Linting
    runs-on: ubuntu-latest
    env:
      NODE_ENV: development
      GITHUB_OAUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - run: corepack enable

      - run: pnpm install --frozen-lockfile
      - run: pnpm lint

  check-build:
    name: Check build
    runs-on: ubuntu-latest
    env:
      NODE_ENV: development
      GITHUB_OAUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - run: corepack enable

      - run: pnpm install --frozen-lockfile
      - run: pnpm build
